plain-parser @ git+https://github.com/Codeplain-ai/plain-parser@15bc50707c52fb5c5f0bfda4e1cabe186a33dd77
requests==2.34.2
rich==15.0.0
tiktoken==0.14.0
PyYAML==6.0.3
gitpython==3.1.59
pytest==9.1.1
textual>=7.5.0
transitions==0.9.3
sentry-sdk==2.68.1


# Development dependencies
flake8==7.3.0
black==26.5.1
isort==8.0.1
mypy==2.3.0
